$body-color: white;
$navButton-color: rgb(0, 82, 0);
$menu-color: rgb(0, 150, 0);
$main-font-color: #2d502c;
$menu-font-color: white;

//#1d2424 darkest
//#3d6a66 dark greenish
//#69849b blueish
//#dcdcdd light gray
//#d0c3bd light brown