$body-color: #222;
$primary-dark: #222;
$menu-color: #ccc;
$main-font-color: #F0EFF4;
$card-color: #666;
$menu-font-color: #222;
$highlight-color: blue;

/*
$body-color: #222;
$primary-dark: #222;
$menu-color: #63815F;
$main-font-color: #F0EFF4;
$card-color: #364634;
$menu-font-color: #F0EFF4;
*/
