$body-color: rgb(72, 78, 81);
$primary-dark: rgb(65, 66, 66);
$menu-color: rgb(64,92,96);
$main-font-color: #CCCCCC;
$card-color: #35455D;
$menu-font-color: white;
$highlight-color: #329da8;

/*
$body-color: #222;
$primary-dark: #222;
$menu-color: #63815F;
$main-font-color: #F0EFF4;
$card-color: #364634;
$menu-font-color: #F0EFF4;
*/
